h1 {
    font-size: 80px;
    text-align: center;
    color: maroon;
    font-family: cursive;
}

h2 {
    font-size: 35px;
    color: firebrick;
}

h3 {
    font-size: 25px;
    color: maroon;
}

h4 {
    font-size: 20px;
    color: firebrick;
    font-style: italic;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 15px;
    text-align: center;
}

img {
    height: auto;
    width: 500px;
}

li {
    font-size: 15px;
}
p {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 15px;
}

body {
    background-color: lemonchiffon;
}
