h1 {
    font-size: 300px;
    text-align: center;
    color: brown;
    font-family: cursive;
}

h2 {
    font-size: 90px;
    color: firebrick;
}

h3 {
    font-size: 80px;
    color: brown;
}

h4 {
    font-size: 60px;
    color: firebrick;
    font-style: italic;
}

h5 {
    font-size: 45px;
}

h6 {
    font-size: 45px;
    text-align: center;
}

img {
    height: auto;
    width: 2500px;
}

li {
    font-size: 45px;
}
p {
    font-size: 45px;
}

a {
    text-decoration: none;
    color: blue;
}

body {
      background-color: blanchedalmond;
}

