#banner{
        font-size: 150px;
        font-family: cursive;
        text-align: center;
        color: whitesmoke;        
}

.recipe{
        font-size: 45px;
}

img{
    height: auto;
    width: 500px;
}

body{
    background-color: black;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: wheat;
    border-image: 500x;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}